$primaryFont: 'Russo One', sans-serif;

$primary-color-100: var(--primary-color-100);
$primary-color-75: var(--primary-color-75);
$primary-color-50: var(--primary-color-50);
$primary-color-25: var(--primary-color-25);

$text-color-100: var(--text-color-100);
$text-color-50: var(--text-color-50);

$background-color-100: var(--background-color-100);

$modal-background-color: var(--modal-background-color);
