.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  animation: 0.3s show ease;
  background-color: var(--modal-background-color);
  z-index: 1000;

  @keyframes show {
    from {
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
    }
    to {
      width: 100%;
      height: 100%;
    }
  }
}

.inner {
  position: relative;
  max-width: 50%;
  max-height: 90vh;

  padding: var(--lg);
  padding-top: var(--xl);

  background-color: var(--primary-color-75);
  border-radius: var(--sm);
}

.inner > button {
  position: absolute;
  top: var(--md);
  right: var(--md);
}
