.condition {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  animation: 0.3s show ease;

  color: var(--text-color-100);
  transition: all 0.3s;

  @keyframes show {
    from {
      margin-left: -100%;
      margin-right: 100%;
    }
    to {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.innerCondition {
  display: flex;
  padding: var(--sm);
  margin-right: var(--smReverse);
  border-radius: var(--sm);

  transition: background-color 0.2s;
}

.close {
  position: relative;
  flex-grow: 1;

  &::after {
    content: '';
    position: absolute;
    top: 1px;
    right: 50%;

    height: 90%;
    width: 100%;

    border-right: 3px dashed var(--primary-color-75);
    z-index: 1;
  }
}

.delete {
  font-size: var(--h3);
}

.cases {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: var(--sm);

  color: inherit;
}
