.fields {
  margin: var(--md) 0;
  width: 100%;
}

.header {
  margin-bottom: var(--xs);

  font-size: var(--body1);
  font-weight: 300;
}

.conditions {
  margin-right: var(--xl);
  margin-bottom: var(--md);
}
