.wrapper {
  margin: var(--sm) 0;
  color: var(--success-color);
}

.block {
  display: flex;
  gap: var(--md);
  align-items: center;
}

.blockName {
  min-width: 40px;

  font-weight: 500;
  text-transform: uppercase;
  text-align: center;

  color: inherit;
}

.children {
  margin-left: 55px;
}
