.wrapper {
  margin: var(--sm) 0;
  color: var(--success-color);

  &:first-child {
    margin-top: 0;
    margin-bottom: var(--sm);

    & .blockName {
      color: var(--secondary-color-75);
    }
  }

  &:last-child {
    margin-top: var(--sm);
    margin-bottom: 0;

    & .blockName {
      color: var(--danger-color);
    }
  }
}

.block {
  display: flex;
  gap: var(--md);
  align-items: center;
}

.blockName {
  min-width: 40px;

  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.children {
  margin-left: 55px;
}
