.delete {
  display: flex;
  align-items: center;
  padding: var(--xs);

  color: var(--text-color-100);
}

.deleteIcon {
  font-size: var(--h3);
  border-radius: var(--xs);

  animation: 0.4s show ease;
  background-color: var(--danger-color);
  transition: all 0.2s;

  &:hover {
    background-color: var(--primary-color-75);
  }

  @keyframes show {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }
}
