.varsBar {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--md);
  color: var(--success-color);
}

.varList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--sm);

  margin-bottom: var(--md);
}
