@import '../../../shared/ui/mixins/mixins.scss';

.form {
  position: relative;

  & > button {
    position: absolute;
    top: 50%;
    right: 2%;

    transform: translateY(-50%);
  }
}

.addInput {
  @include text-area;

  min-width: 400px;
  padding-right: 130px;
}

.tooltip {
  position: absolute;
  top: -50%;
  right: 50%;
  padding: var(--sm);
  border-radius: var(--sm);

  animation: 0.3s show ease;
  color: var(--danger-color);
  background-color: var(--text-color-100);
  transform: translateX(50%);
  z-index: 200;

  @keyframes show {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    left: 20px;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid var(--text-color-100);
  }
}
